{% extends "base.html" %}
{% block content %}

<!--以上为导航base-->
<div id="banner-area" class="banner-area" style="background-image:url(../static/images/banner/banner4.png)">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">挑选咖啡机</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="/coffeebean">挑选咖啡豆/粉</a></li>
                      <li class="breadcrumb-item"><a href="/coffeecup">挑选咖啡杯</a></li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->

<!-- Start Content -->
<div class="container py-5">
  <div class="row">

      <div class="col-lg-3">
          <h3 class="h2 pb-4">分类</h3>
          <ul class="list-unstyled templatemo-accordion">
              <li class="pb-3">
                  <a class="collapsed d-flex justify-content-between h5 text-decoration-none" href="#">
                      型号大小
                      <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                  </a>
                  <ul class="collapse show list-unstyled pl-3">
                      <li><a class="text-decoration-none" href="#">小型</a></li>
                      <li><a class="text-decoration-none" href="#">大型</a></li>
                  </ul>
              </li>
              <li class="pb-3">
                  <a class="collapsed d-flex justify-content-between h5 text-decoration-none" href="#">
                      使用方式
                      <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                  </a>
                  <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                      <li><a class="text-decoration-none" href="#">全自动</a></li>
                      <li><a class="text-decoration-none" href="#">半自动</a></li>
                  </ul>
              </li>
          </ul>
      </div>

      <div class="col-lg-9">
          <div class="row">

              <div class="col-md-6 pb-4">
                  <div class="d-flex">
                      <select class="form-control">
                          <option>筛选条件</option>
                          <option>价格从高到低</option>
                          <option>按热度排序</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="card mb-4 product-wap rounded-0">
                      <div class="card rounded-0">
                          <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_1.png">
                      </div>
                      <div class="card-body">
                          <a href="#.html" class="h6 text-decoration-none">Krups NESPRESSO Essenza Mini迷你全自动胶囊咖啡机家用</a>
                          <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                              <li class="pt-2">
                                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                              </li>
                          </ul>
                          <ul class="list-unstyled d-flex justify-content-center mb-1">
                              <li>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-muted fa fa-star"></i>
                              </li>
                          </ul>
                          <p class="text-center mb-0">¥799.00</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 product-wap rounded-0">
                      <div class="card rounded-0">
                          <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_2.png">
                      </div>
                      <div class="card-body">
                          <a href="#.html" class="h6 text-decoration-none">Delonghi迪朗奇ECAM22.110.SB家用全自动咖啡机</a>
                          <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                              <li class="pt-2">
                                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                              </li>
                          </ul>
                          <ul class="list-unstyled d-flex justify-content-center mb-1">
                              <li>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-muted fa fa-star"></i>
                                  <i class="text-muted fa fa-star"></i>
                              </li>
                          </ul>
                          <p class="text-center mb-0">¥3999.00</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 product-wap rounded-0">
                      <div class="card rounded-0">
                          <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_3.png">
                      </div>
                      <div class="card-body">
                          <a href="#.html" class="h6 text-decoration-none">摩登主妇电动磨豆机 咖啡豆研磨机不锈钢磨豆器家用小型Mini</a>
                          <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                              <li class="pt-2">
                                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                              </li>
                          </ul>
                          <ul class="list-unstyled d-flex justify-content-center mb-1">
                              <li>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                                  <i class="text-warning fa fa-star"></i>
                              </li>
                          </ul>
                          <p class="text-center mb-0">¥95.00</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_1.png">
                    </div>
                    <div class="card-body">
                        <a href="#.html" class="h6 text-decoration-none">Krups NESPRESSO Essenza Mini迷你全自动胶囊咖啡机家用</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">¥799.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_2.png">
                    </div>
                    <div class="card-body">
                        <a href="#.html" class="h6 text-decoration-none">Delonghi迪朗奇ECAM22.110.SB家用全自动咖啡机</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">¥3999.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_3.png">
                    </div>
                    <div class="card-body">
                        <a href="#.html" class="h6 text-decoration-none">摩登主妇电动磨豆机 咖啡豆研磨机不锈钢磨豆器家用小型Mini</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">¥95.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_1.png">
                    </div>
                    <div class="card-body">
                        <a href="#.html" class="h6 text-decoration-none">Krups NESPRESSO Essenza Mini迷你全自动胶囊咖啡机家用</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">¥799.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_2.png">
                    </div>
                    <div class="card-body">
                        <a href="#.html" class="h6 text-decoration-none">Delonghi迪朗奇ECAM22.110.SB家用全自动咖啡机</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">¥3999.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="../static/images/shop/machine_3.png">
                    </div>
                    <div class="card-body">
                        <a href="#.html" class="h6 text-decoration-none">摩登主妇电动磨豆机 咖啡豆研磨机不锈钢磨豆器家用小型Mini</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">¥95.00</p>
                    </div>
                </div>
            </div>
          </div>
          <div div="row">
              <ul class="pagination pagination-lg justify-content-end">
                  <li class="page-item disabled">
                      <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                  </li>
              </ul>
          </div>
      </div>

  </div>
</div>
<!-- End Content -->

{% endblock %}