{% extends "base.html" %}
{% block content %}

<!--以上为导航base-->
<div id="banner-area" class="banner-area" style="background-image:url(../static/images/banner/banner4.png)">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">咖啡店筛选</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">按咖啡店类型</a></li>
                      <li class="breadcrumb-item"><a href="#">按咖啡豆类型</a></li>
                      <li class="breadcrumb-item"><a href="#">按咖啡种类</a></li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">所有咖啡店
          </label>
          <label for="commercial">
            <input type="radio" name="shuffle-filter" id="commercial" value="commercial">按咖啡店类型
          </label>
          <label for="education">
            <input type="radio" name="shuffle-filter" id="education" value="education">按咖啡豆类型
          </label>
          <label for="government">
            <input type="radio" name="shuffle-filter" id="government" value="government">按咖啡类型
          </label>
          <!--
          <label for="infrastructure">
            <input type="radio" name="shuffle-filter" id="infrastructure" value="infrastructure">Infrastructure
          </label>
          <label for="residential">
            <input type="radio" name="shuffle-filter" id="residential" value="residential">Residential
          </label>
          <label for="healthcare">
            <input type="radio" name="shuffle-filter" id="healthcare" value="healthcare">Healthcare
          </label>
          -->
        </div>



        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="{{url_for('static', filename='images/projects/shop_1.jpeg')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/projects/shop_1.jpeg')}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/selectcoffeeshop">Cafe Del Volcan</a>
                  </h3>
                  <p class="project-cat">☕️堂食,🚶外带</p>
                  <p class="project-cat">☕卡布奇诺，馥芮白，拿铁 </p>
                  <p class="project-cat">🫘云南拼配，哥伦比亚，埃塞俄比亚 </p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 1 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="{{url_for('static', filename='images/projects/shop_2.jpeg')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/projects/shop_2.jpeg')}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/selectcoffeeshop">Seesaw Coffee(愚园路店)</a>
                  </h3>
                  <p class="project-cat">🚶外带</p>
                  <p class="project-cat">☕卡布奇诺，馥芮白，拿铁 </p>
                  <p class="project-cat">🫘云南拼配，哥伦比亚，埃塞俄比亚 </p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 2 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;commercial&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="{{url_for('static', filename='images/projects/shop_3.jpeg')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/projects/shop_3.jpeg')}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/selectcoffeeshop">星巴克臻选上海烘焙工坊</a>
                  </h3>
                  <p class="project-cat">☕️堂食,🚶外带</p
                  <p class="project-cat">☕卡布奇诺，馥芮白，拿铁 </p>
                  <p class="project-cat">🫘云南拼配，哥伦比亚，埃塞俄比亚 </p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 3 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="{{url_for('static', filename='images/projects/shop_4.jpeg')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/projects/shop_4.jpeg')}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/selectcoffeeshop">RAC Coffee</a>
                  </h3>
                  <p class="project-cat">☕️堂食,🚶外带</p>
                  <p class="project-cat">☕卡布奇诺，馥芮白，拿铁 </p>
                  <p class="project-cat">🫘云南拼配，哥伦比亚，埃塞俄比亚 </p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 4 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="{{url_for('static', filename='images/projects/shop_5.jpeg')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/projects/shop_5.jpeg')}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/selectcoffeeshop">Grains</a>
                  </h3>
                  <p class="project-cat">☕️堂食,🚶外带</p>
                  <p class="project-cat">☕卡布奇诺，馥芮白，拿铁 </p>
                  <p class="project-cat">🫘云南拼配，哥伦比亚，埃塞俄比亚 </p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 5 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="{{url_for('static', filename='images/projects/shop_6.jpeg')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/projects/shop_6.jpeg')}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/selectcoffeeshop">申报馆咖啡</a>
                  </h3>
                  <p class="project-cat">☕️堂食,🚶外带</p>
                  <p class="project-cat">☕卡布奇诺，馥芮白，拿铁 </p>
                  <p class="project-cat">🫘云南拼配，哥伦比亚，埃塞俄比亚 </p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 6 end -->
        </div><!-- shuffle end -->
      </div>

      <div class="col-12">
        <div class="general-btn text-center">
          <a class="btn btn-primary" href="#">查看更多</a>
        </div>
      </div>

    </div><!-- Content row end -->

  </div><!-- Conatiner end -->
</section><!-- Main container end -->

  {% endblock %}